  .footer{
    margin-bottom: 0;  
    width: 100%;
    height: 50px;
background: #eaeaeaf9;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;  /* centraliza a lista */
    align-items: center;
    padding: 0 20px;
     box-shadow: 10px 0px 10px 0px  #e3e2e2;
    border-radius: 6px;
    margin-top: 4%;
}
